* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  background-image: url(./background.jpg);
}

header {
  font-family: 'Times New Roman';
  background-color: #1c87c9;
  padding: 50px;
}

header h1 {
  font-size: 25px;
  text-align: center;
  color: blanchedalmond;
}

.column {
  float: left;
  width: 45%;
}

.colum {
  float: right;
  width: 65%;
}

.row:after {
  content: '';
  display: inline-block;
  clear: both;
}

.rightside {
  margin: 40px;
  font-family: 'Times New Roman';
}

.dashboard {
  width: 600px;
  height: 280px;
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
  margin: 4px;
  background-image: linear-gradient(
    to left,
    rgb(56, 46, 241),
    rgb(85, 85, 241),
    rgb(141, 169, 245)
  );
}

#City,
#Today,
#Icon,
#Temp,
#Wind,
#Humidity,
#UV-Index {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.forecast {
  display: flex;
  flex-direction: row;
  width: 800px;
}

[class*='future-day-'] {
  width: 150px;
  height: 200px;
  margin: 10px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(220, 207, 20);
  background-image: linear-gradient(
    to left,
    rgb(104, 96, 250),
    rgb(123, 123, 241),
    rgb(141, 169, 245)
  );
}

[class*='future-day-'] span {
  display: block;
}

#Today,
#Icon,
#Temp,
#Wind,
#Humidity {
  font-size: 14px;
  margin: 6px;
}

.leftside {
  margin: 40px;
  font-family: 'Arial';
}

#input-city {
  width: 250px;
  height: 35px;
  padding: 10px;
  border: 2px solid;
  margin: 10px;
  border-radius: 5px;
}

#search {
  display: block;
  width: 250px;
  height: 35px;
  padding: 10px;
  margin: 10px;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  background-color: rgb(82, 140, 228);
  color: white;
  font-weight: bold;
}

.divider {
  width: 250px;
  height: 1px;
  padding: 0.8px;
  margin: 11px;
  background-color: black;
}

.search-history {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.search-history button {
  display: block;
  width: 250px;
  height: 35px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #b7b7b7;
}

.Search-For-A-City h2 {
  font-size: 18px;
  display: inline-block;
}

footer {
  padding: 90px;
  clear: both;
  font-family: 'Arial';
  text-align: center;
}

footer h2 {
  font-size: 70px;
}

footer p {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .box {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 40%;
  }
}
